* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Game {
    overflow: hidden hidden;
    width: 960px;
    height: 600px;
    box-shadow: 0 0 3px snow;
    position: relative;
}

#GameRed {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#00000000 80%, red);
}

#GameInfo {
    position: absolute;
    width: 100%;
    height: 100%;
}

#GamePlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#GamePlayText {
    text-shadow: 0 0 3px snow;
    list-style-type: none;
    color: white;

}
#GamePlayText span{
    margin: 0 8px 0 0 ;
    font-size: 15px;
    opacity: 0;
    position: relative;
}
#GamePlayText > li {
    display: block;
    white-space:nowrap;
    overflow: hidden hidden;
    font-size: 15px;
    margin: 3px;
    word-wrap: break-word
}

.but {
    width:100%;
    padding: 5px;
    transition: all 500ms;
}

.butred {
    background-color: red;
    box-shadow: 0 0 3px red;
    color: white;
    border: none;
}

.butblue {
    background-color: #008cff;
    box-shadow: 0 0 3px #008cff;
    color: white;
    border: none;
}
.input{
    width: 100%;
    border: none;
    padding: 3px;

}
#GamePlayText{
    animation: GamePlay 3s ;
    overflow:hidden hidden;
}

#GamePlayText>li{
    position: relative;
}
.MeiHua{
    filter: drop-shadow(2px 2px 3px seashell);
}
.EnyClass{
    position: absolute;
    width: 80px;
    height: 80px;
}
.BulletClass{
    position: absolute;
    background-image: url("images/Bullet.png");
    width: 30px;
    height: 10px;
}
#ButDiv{
    overflow: hidden;
}
.StoneClass{
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    animation: deg 2s linear infinite;
    position: absolute;
    background-image: url("images/aestroid_gray_2.png");
}
.FuelClass{
    position: absolute;
    width: 16px;
    height: 24px;
    animation: deg 1s linear infinite;
    background-image: url("images/ran.png");
    background-size: 100% 100%;
}
.FuelBox{
    width: 100;
}
@keyframes deg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}