*{
    margin: 0 ;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("images/background-1.jpg");
}
#GameBack{
    position: absolute;
    width: 100%;
    height: 100%;
}
#Game{
    width: 900px;
    height: 660px;
    position: absolute;
    box-shadow: 0 0 3px slategrey;
    overflow: hidden;
}
#GameRed{
    z-index: 1;
    background: radial-gradient( #00000000 80%,#ff0000);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}
#GameInfo{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#GamePlay{
    color: white;
    font-size: 8px;
    overflow: hidden;
}
#Text_Data{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.butbox{
    text-align: center;
}
.but{
    width: 80%;
    padding: 5px;
    margin: 0 auto;
}
.blue{
    background-color: #0088ff;
    border: none;
    color: white;
}
/*
* Game
*/
.Eny_Class{
    width: 80px;
    height: 80px;

}
.poab{
    position: absolute;
}
.Stone_Class{
    animation: deg 3s linear infinite;
    background-size: 100% 100%;
}
.Player_Class{
    width: 80px;
    height: 80px;
}
.Bullet_Class{
    width: 20px;
    height: 10px;
    background-color: rgba(230, 0, 0, 0.81);
    border-radius: 5px;
}
.Tips_Class{
    width: 70px;
    height: 20px;
    border-radius: 5px;
    opacity: 0.8;
    background-color: white;
    color: white;
    text-shadow: 0 0 3px slategrey;
    text-align: center;
    position: absolute;
}
.Fuel_Class{
    animation: deg 3s linear infinite;
    width: 16px;
    height: 24px;
    position: absolute;
}
@keyframes deg {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
/*
GameFunction
*/

#GameFunction{
    margin: 20px;
}
#Fuel_box{
    position: relative;
    width: 200px;
    height: 20px;
    box-shadow: 0 0 3px snow;
}
#Fuel_text{
    z-index: 1;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
}
#Fuel_main{
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background-color: red;
    transition:all 100ms;
}
#Fraction{
    color: white;
}