*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Game{
    width: 900px;
    height: 660px;
    position: relative;
    box-shadow: 0 0 3px slategray;
}
#GameRed{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background:radial-gradient(#00000000 85%, red);
}
#GamePlay{
    position: absolute;
    overflow: hidden hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: GamePlay 2s forwards;
}
#GameInfo{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#GameText{
    color: white;
}
.ButBox{
    text-align: center;
}
.but{
    width: 80%;
    margin: 0 auto;
    padding: 3px;
}
.BlueClass{
    background-color: #007eeb;
    color: white;
    border: none;
}
@keyframes GamePlay {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
/**
GAME
*/
.EnyClass{
    position: absolute;
    width: 80px;
    height: 80px;
}
.StoneClass{
    position: absolute;
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
}
.BulletClass{
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #f3eaff;
    box-shadow: 0 0 3px snow;
}